@import '../../scss/variables';

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media ($desktop) {
    width: 1200px;
  }

  @media ($tablet) {
    width: 768px;
  }

  @media ($mobile) {
    width: 480px;
  }
}
