@import '../../scss/variables';

.recommendation {
  @media ($mobile) {
    padding-top: 60px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;

    @media ($desktop) {
      align-items: center;
    }

    @media ($tablet) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    @media ($mobile) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__text {
    color: $gold-text;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;

    color: $secondary-text;
  }
}
.recommendationList {
  position: relative;
  display: flex;
  justify-content: space-around;

  @media ($tablet) {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  @media ($mobile) {
    // flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

.recommendationBtns {
  display: flex;

  @media ($tablet) {
    flex-direction: column;
    gap: 20px;
  }

  @media ($mobile) {
    flex-direction: column;
    gap: 20px;
  }
}
.recommendationListBtn {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media ($tablet) {
    margin-right: auto;
  }

  @media ($mobile) {
    margin-right: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__btn {
    border-radius: 32px;
    border: transparent;
    padding: 12px 16px;
    cursor: pointer;

    transform: scale(1);
    transition: background-color 300ms linear, transform 300ms linear;

    background-color: #e0e3eb;

    &:hover,
    &:focus {
      transform: scale(1.1);
      background-color: #10b981;

      .recommendationListBtn__svg {
        fill: $white-text;
      }
    }
  }

  &__svg {
    width: 28px;
    height: 28px;
    fill: #3c4563;
  }
}
