@import '../../../scss/variables';

.recommendationItem {
  &__item {
    min-width: 340px;
    &:not(:last-child) {
      @media ($desktop) {
        margin-right: 40px;
      }
    }

    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
    }
    &:nth-child(4) {
      transition-delay: 0.6s;
    }

    @media ($tablet) {
      width: calc((100% - 30px - 30px) / 2);
      margin: 15px;
    }

    //
  }

  &__img {
    width: 349px;
    max-height: 200px;
    border-radius: 25px;
  }
  &__content {
    position: relative;
    max-width: 90%;
  }

  &__firstContent {
    padding-top: 24px;
    padding-bottom: 24px;

    @media ($mobile) {
      text-align: center;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;

    color: #0e1735;
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;

    color: #3c4563;
  }

  &__secondContent {
    display: flex;
    align-items: center;

    @media ($mobile) {
      align-items: center;
      justify-content: center;
    }
  }

  &__agent {
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
  }

  &__underTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;

    color: #0e1735;
  }

  &__underText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;

    color: $gray-text;
  }
}
