$mobile: 'max-width: 767px';
$tablet: '(min-width: 768px) and (max-width: 1199px)';
$desktop: '(min-width: 1200px)';

$main-text: #626687;
$white-text: #f0f3fd;
$secondary-text: #1b1c57;
$gray-text: #888b97;
$accent-light: #d1fae5;
$gold-text: #f59e0b;
$red-text: #ef4444;
$red-light: #fee2e2;
$blue-text: #1d4ed8;
$blue-light: #dbeafe;
$main-bgc: #ffffff;
$accent: #047857;
